@keyframes grow_first {
  20% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes grow_second {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(0);
    opacity: 0;
  }
  90% {
    transform: scale(1);
    opacity: 1;
  }
}
