//On-render effects

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade_up {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes grow_in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

//Animations

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-9px);
  }
  100% {
    transform: translatey(0px);
  }
}
