@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

//Colors
$beige: #fbf8e9;
$yellow: #f7efb4;
$blackRich: #1f1f1f;
$textBlack: #333333;

//Font
$mainFont: 'Montserrat', sans-serif;
$letter-width: 0.9;

$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 38px;

$fw-normal: 400;
$fw-bold: 600;

//Breakpoints
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;

//Margins
$margin-lg: 55px;
$margin-sm: 20px;
$margin-md: 40px;
